<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UNI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/doctors">Home</a></li>
      <li><a href="/departments">Department</a></li>
      <li><a href="/students">Student</a></li>
      <li><a href="/subjects">Subject</a></li>
    </ul>
  </div>
</nav>


<div class="container  p-5 my-5 border">
<h1 style="text-align: center;">Students</h1>
<table class="table table-hover">
       <tr>
        <th>username</th>
        <th>Password</th>
        <th>Acadimic Number</th>
        <th>actions</th>
    </tr>
    {{#each students}}
    
    <tr>
        <td>
            {{username}}
        </td>
        
        <td>
            {{password}}
        </td>

        <td>
            {{ acadimic_number}}
        </td>

        <td>
            <a href="/students/update/{{_id}}"><button  class="btn btn-danger" >update</button></a>
            <a href="/students/delete/{{_id}}"><button class="btn btn-primary">delete</button></a>
        </td>
        </tr>
    </tr>
    {{/each}}
</table>
<br>
<a href="/students/create">
    <button class="btn btn-dark">Add</button>
</a>
<a href="/students/generate">Export CSV</a>
<div class="container  p-5 my-5 border">