<h1 style="text-align: center;">Students</h1>
<table class="table table-hover">
       <tr>
        <th>username</th>
        <th>Password</th>
        <th>Acadimic Number</th>
        <th>actions</th>
    </tr>
    {{#each students}}
    
    <tr>
        <td>
            {{username}}
        </td>
        
        <td>
            {{password}}
        </td>

        <td>
            {{ acadimic_number}}
        </td>

        <td>
            <a href="/students/update/{{_id}}"><button  class="btn btn-danger" >update</button></a>
            <a href="/students/delete/{{_id}}"><button class="btn btn-primary">delete</button></a>
        </td>
        </tr>
    </tr>
    {{/each}}
</table>
<br>
<a href="/students/create">
    <button class="btn btn-dark">Add</button>
</a>
