
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">UNI</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/students/{{student._id}}/register">Register</a></li>
                <li><a href="/students/{{student._id}}/print">Print</a></li>
                <li><a href="/students/{{student._id}}/view">View</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container  p-5 my-5 border">
    <table class="table table-hover">
     <tr>
    <td><a href="/students/{{student._id}}/register">
        <button class="btn btn-dark">Enroll new Course</button>
    </a></td>
    <br>
    <br>
     <td><a href="/students/{{student._id}}/print">
        <button class="btn btn-dark">View Enrolled Courses</button>
    </a></td>
    <br>
    <br>
     <td><a href="/students/{{student._id}}/view">
        <button class="btn btn-dark">View Pervious Courses</button>
    </a></td>
 
     </tr>
     <tr>
        <td></td>
        <td></td>
        <td></td>
     </tr>
    </table>
       </div>