<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UNI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/doctors">Home</a></li>
      <li><a href="/departments">Department</a></li>
      <li><a href="/students">Student</a></li>
      <li><a href="/subjects">Subject</a></li>
    </ul>
  </div>
</nav>


<div class="container  p-5 my-5 border">
<h1 style="text-align: center;">Subjects</h1>
<table class="table table-hover">
    <tr>
        <th>
            <h4>Subject_Name</h4>
        </th>
        <th>
            <h4>number_of_enrolled_students</h4>
        </th>
        <th>
            <h4>Details </h4>
        </th>
        <th>
            <h4>Edit</h4>
        </th>
        <th>
            <h4>Delete</h4>
        </th>

        {{#each subjects}}
    <tr>
        <td style="width:50%">
            {{name}}
        </td>
        <td> {{ number_of_enrolled_students}}  </td>

        <td>
            <a href="/subjects/{{_id}}">
                <button class="btn btn-info" style="align-items: right;">Details</button>
            </a>


        </td>
        <td>
            <a href="/subjects/{{_id}}/edit">
                <button class="btn btn-info" style="align-items: right;">Edit</button>
            </a>
        </td>
        <td>
            <form action='/subjects/{{_id}}?_method=DELETE' method="post">
                <button type="submit" class="btn btn-info" style="align-items: right;"  >Delete</button>
            </form>
         </td>
    </tr>
    {{/each}}
</table>
<br>
<a href="/subjects/create">
    <button class="btn btn-dark">Add</button>
</a>
</div>