<table style="width:100%">
    <tr>
        <td style="width:20%">
            Name:
        </td>
        <td>
            {{foundByDep.name}}
        </td>
    </tr>
    <tr>
        <td style="width:20%">
            Code:
        </td>
        <td>
            {{foundByDep.code}}
        </td>
    </tr>
        <tr>
        <td style="width:20%">
            number_of_enrolled_students:
        </td>
        <td>
            {{foundByDep.number_of_enrolled_students}}
        </td>
    </tr>
    <tr>
        <td style="width:20%">
            Department name:
        </td>
        <td>
            {{foundByDep.department.name}}
        </td>
    </tr>
    <tr>
        <td style="width:20%">
            Department code:
        </td>
        <td>
            {{foundByDep.department.code}}
        </td>
    {{!-- </tr>
        <tr>
            <td style="width:20%">
                Required:
            </td>
            <td>
                {{foundByDep.previous}}
            </td>
     </tr> --}}
</table>